/* Componentes globais */
@import "./global/global.css";
@import "./global/header.css";
@import "./home/introducao.css";



/* Estilos gerais */
@import "./utilidades/componentes.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";


/* Bicicletas */
@import "./bicicletas/bicicletas-lista.css";

/* Tecnologia */
@import "./home/tecnologia.css";

/* Parceiros */

@import "./home/parceiros.css";

/* Depoimento */
@import "./home/depoimento.css";


