.bicicletas-lista {
  padding-top: 4rem;
  padding-bottom: 7.5rem;
}

.bicicletas-lista h2 {
  margin-bottom: 2.5rem;
}

.bicicletas-lista ul {
  display: flex;
  gap: 2.5rem;
  padding: 0 1.25rem 1.25rem 1.25rem;
  max-width: 87.5rem; /* 1400px */
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.bicicletas-lista li {
  min-width: 17.5rem;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 1rem;
}

.bicicletas-lista h3 {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.bicicletas-lista h3::before {
  content: "";
  display: inline-block;
  height: 0.5rem;
  width: 0.75rem;
  background-color: var(--cor-p1);
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  transition: width 0.3s ease;
}

.bicicletas-lista a:hover h3::before {
  width: 1.5rem;
}

.bicicletas-lista li span {
  padding-left: 1.25rem;
}

@media (max-width: 1200px) {

}

@media (max-width: 800px) {
  .bicicletas-lista {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .bicicletas-lista ul {
    gap: 1.25rem;
  }
}