.botao {
  padding: 1rem 2rem;
  background: linear-gradient(#ffbb00, #f2a50c);
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.125rem/1.3 "Poppins", sans-serif;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media(max-width: 800px) {
  .botao {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}