.introducao-bg {
  /* color: #fff; */
  box-shadow: inset 0px -7.5rem var(--cor-0);
  background: var(--cor-12);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem 2.5rem;
  box-sizing: border-box;
  max-width: 75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 12.5rem;
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao h1 {
  margin-bottom: 2rem;
}

.introducao p {
  margin-bottom: 1.25rem;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 3rem;
  }

  .introducao p {
    font-size: 1.1rem;
  }
}

@media (max-width: 800px) {

  .introducao-bg {
    background: var(--cor-11);
    padding-top: 2.5rem;
    box-shadow: inset 0 -3.75rem;
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .introducao img {
    height: 18.75rem;
    width: 100%;
  }
}